@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: 'Uncial Antiqua', 'Times New Roman', Times, serif, sans-serif; /* Fonte temática */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://www.transparenttextures.com/patterns/old-map.png'); /* Textura de fundo */
    background-size: cover;
}

.container {
    background-color: #f5deb3; /* Cor de pergaminho */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px; /* Adicionando um limite máximo de largura */
    border: 2px solid #8b4513; /* Bordas rústicas */
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png'); /* Textura interna */
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
    text-align: center; /* Centraliza o título */
    color: #8b4513; /* Cor rústica */
    font-size: 32px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

form label {
    display: block;
}

label {
    grid-column: 1 / span 2;
    font-weight: bold; /* Torna os rótulos mais visíveis */
    color: #8b4513; /* Cor rústica */
}

input {
    grid-column: 1 / span 2;
    padding: 4px;
    border: 1px solid #8b4513; /* Cor rústica */
    border-radius: 4px;
    font-size: 16px; /* Aumenta o tamanho da fonte para melhorar a legibilidade */
    background-color: #fff8dc; /* Cor de pergaminho leve */
}

button {
    grid-column: 1 / span 2;
    padding: 10px;
    background-color: #8b4513; /* Cor rústica */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Aumenta o tamanho da fonte do botão */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave na cor do botão */
}

button:hover {
    background-color: #5a2e0f; /* Cor de destaque */
}

button:focus {
    outline: none; /* Remove o contorno padrão de foco do botão */
    box-shadow: 0 0 0 2px rgba(123, 63, 0, 0.5); /* Adiciona uma borda de foco suave */
}

span {
    font-size: 14px;
    width: 30px;
    height: 30px;
    display: inline-flex; /* Usa flexbox para centralizar o conteúdo */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    background-color: #fff8dc; /* Cor de pergaminho leve */
    border: 1px solid #8b4513; /* Cor rústica */
    border-radius: 4px;
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr; /* Altera o layout do formulário para uma coluna em telas menores */
    }
}
